<style>
	.btn {
		padding: 10px 20px;
		font-size: 20px;
	}
</style>
<p>
	<a class="btn btn-primary" href="#">Back to Search</a>
</p>
<h1>Forecast for {{ city }}</h1>
<hr />
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div style="float:right">Days: 
				<a href="#/forecast/2" ng-class="{ 'btn btn-success' : days === '2', 'btn btn-primary' : days !== '2' }">2</a> | 
				<a href="#/forecast/5" ng-class="{ 'btn btn-success' : days === '5', 'btn btn-primary' : days !== '5' }">5</a> | 
				<a href="#/forecast/7" ng-class="{ 'btn btn-success' : days === '7', 'btn btn-primary' : day !== '7' }">7</a>
			</div>
		</div>
	</div>
</div>
<hr />
<div ng-repeat="w in weatherResult.list">
	<div class="row">
		<div class="col-md-12">
			<weather-day-panel weather-day="w" convert-to-standard="convertTemp(daytimeTemp)" convert-to-date="convertToDate(dt)" date-format="MMMM d, y"></weather-day-panel>
		</div>
	</div>
</div>
<a class="btn btn-primary" href="#">Back to Search</a>
<p style="padding-bottom: 30px;"></p>
